# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = lf
insert_final_newline = true

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# TypeScript files
[*.ts, *.tsx]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2

# SCSS files
[*.scss]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# Handlebars files
[*.hbs]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
